.w-100 {
  width: 100%;
}

.mb-10 {
  margin-bottom: 10px;
}

.d-n {
  display: none;
}

.d-t{
  display: table;
}

.d-t-c {
  display: table-cell;
}

.d-ib {
  display: inline-block;
}

.va-m {
  vertical-align: middle;
}

.ta-c {
  text-align: center;
}

.fl-r {
  float: right;
}

.fl-l {
  float: left;
}

.fl-n {
  float: none;
}

.nm-left {
  margin-left: 0px;
}

.nm-right {
  margin-right: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-30 {
  margin-top: 30px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.pb-50 {
  padding-bottom: 50px;
}