.description-item {
  padding: 10px 10px 0px 10px;
  font-size: 18px;
  line-height: 16px;
}

.round-face {
  border-radius: 50%;
  border: 2px solid #ffffff;
  overflow: hidden;
  display: block;
}

.border-icon {
  border: 1px solid #dedede;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2)
}

.horizontal-line {
  border: none;
  border-bottom: 1px solid #979797;
}

.horizontal-align-center {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.top-banner-user-head-image {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.top-banner-user-head-image img {
  width: 32px;
  height: 32px;
}

.spread-link-container {
  position: relative;
}

.spread-link {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.sub-content p {
  font-size: 14px;
  color: #888888;
  line-height: 14px;
}

.center-rail {
  width: 1059px;
  margin-left: auto;
  margin-right: auto;
}

.clickable:hover {
  opacity: 0.85;
  cursor: pointer;;
}

.clear-float:after {
  clear: both;
  content: "";
  display: table;
}

.hint {
  color: #858585;
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

input.red-bottom-line {
  border-bottom: 1px solid red;
}

.main-container {
  min-height: 200px;
  margin-bottom: 30px;
  position: relative;
  top: 70px;
}

.main-container:after {
  clear: both;
  content: "";
  display: table;
}

.hover-dark {
  opacity: 0.9;
}

.hover-dark:hover {
  opacity: 0.8;
  transition: opacity ease-in-out 0.2s;
  -webkit-transition: opacity ease-in-out 0.2s;
  -moz-transition: opacity ease-in-out 0.2s;
}

.runup-red-box {
  background-color: #ff5a5f;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
}

.runup-green-box {
  background-color: #26d6aa;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
}

.runup-grey-border-box {
  border-radius: 8px;
  border: 2px solid #CCCCCC;
  font-family: HelveticaNeue-Thin;
  font-size: 16px;
  color: #CCCCCC;
  line-height: 29px;
  padding-left: 10px;
  padding-right: 10px;
}

.runup-grey-border-box:hover {
  cursor: pointer;
  border: 2px solid #808080;
  color: #808080;
}

.runup-red-box a {
  color: white;
}

.runup-grey-button {
  border-radius: 8px;
  background-color: #EEEEEE;
  border: 1px solid #808080;
  font-family: HelveticaNeue-Thin;
  font-size: 16px;
  color: #808080;
  line-height: 29px;
  padding-left: 50px;
  padding-right: 50px;
  cursor: pointer;
}

.focus-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}

.popup-title {
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 20px;
  color: #636363;
  line-height: 18px;
}

.popup {
  padding: 10px;
  display: block;
  width: 300px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid #DEDEDE;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.popup-container {
  width: 300px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  z-index: 15;
}

.input-box {
  width: 240px;
  height: 40px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid #DEDEDE;
  padding-left: 10px;
}

.round-corner-input-box {
  height: 36px;
  padding-left: 10px;
  border: 1px solid #8e8e8e;
  font-size: 16px;
  border-radius: 7px;
}

.underline-input-box {
  height: 36px;
  padding-top: 6px;
  border: none;
  border-bottom: 1px solid #a9a9a9;
  font-size: 20px;
}

.input-submit {
  color: white;
  background-color: #26d6aa;
  border: none;
  box-shadow: inset 0px -1px 1px 0px #999999;
}