.description-item {
  padding: 10px 10px 0px 10px;
}

.round-face {
  border-radius: 50%;
  border: 2px solid #ffffff;
  overflow: hidden;
  display: block;
}

.border-icon {
  border: 1px solid #dedede;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2)
}

.top-banner-user-head-image {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.spread-link-container {
  position: relative;
}

.spread-link {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.description-item{
  font-size: 18px;
  line-height: 16px;
}

.sub-content p {
  font-size: 14px;
  color: #888888;
  line-height: 14px;
}

.center-rail {
  width: 1059px;
  margin-left: auto;
  margin-right: auto;
}

.clickable:hover {
  opacity: 0.85;
}
