body {
  font-family: Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 12px;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style-type: none; 
}

form {
  margin: 0px;
}

p {
  margin: 0px;
}

label {
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  font-size: 14px;
}

label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #fafafa;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);

}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked + label:before {
  content: '\2713';
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  font-size: 24px;
  color: #ff5a5f;
  text-align: center;
  line-height: 13px;
}

.logo {
  float: left;
}

.logo p{
  font-size: 30px;
  line-height: 30px;
  color: #ff5a5f;
}

.footer {
  margin-top: 50px;
  height: 200px;
  background-color: #ff5a5f;
}

.copy-right-container {
  display: table;
  width: 100%;
  height: 100%;
}

.copy-right{
  color: white;
  font-size: 20px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.push-to-right{
  float: right;
  padding: 0px;
  margin: 0px 10px 0px 10px;
}

.runup-red-box {
  background-color: #ff5a5f;
  padding: 10px 15px 10px 15px;
}

.runup-red-box a {
  color: white;
}

.main-container {
  min-height: 200px;
  margin-bottom: 30px;
  position: relative;
}

.main-container:after {
  clear: both;
  content: "";
  display: table;
}

.hover-dark {
  opacity: 0.9;
}

.hover-dark:hover {
  opacity: 0.8;
  transition: opacity ease-in-out 0.2s;
  -webkit-transition: opacity ease-in-out 0.2s;
  -moz-transition: opacity ease-in-out 0.2s;
}

.error-container {
  display: table;
  width: 100%;
}

.error-message {
  width: 100%;
  text-align:center;
  vertical-align: middle;
  display: table-cell;
}