.top-banner {
  background-color: white;
  padding: 10px 20px 10px 20px;
}

.top-banner:after {
  clear:both;
  content:"";
  display: table;
}

.box {

}

.teaser {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.teaser img {
  width: 100%;
}

.search-area {
  padding: 10px;
}

.search-box {
  text-align: center;
  position: relative;
  bottom: 100px;
}

.search-input-box {
  width: 300px;
  height: 44px;
  border: 1px solid #a9a9a9;
  font-size: 16px;
  padding-left: 10px;
}

.search-submit-button {
  background: #ff5a5f;
  height: 44px;
  border: none;
  font-size: 18px;
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

.discover-region {
  width: 1059px;
  margin-left: auto;
  margin-right: auto;
}

.discover-headline{
  height: 50px;
}

.discover-headline h2{
  margin: 0px;
  text-align: center;
}

.discover-card {
  position: relative;
  height: 333px;
}

.discover-photo {
  z-index: -1;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
}

.discover-title {
  width: 100%;
  height:100%;
  display: table;
}

.discover-title .title {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-size: 30px;
}
