.teaser {
  width: 100%;
  min-width: 700px;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.sub-teaser {
  width: 100%;
  position: relative;
}

.teaser img, .sub-teaser img {
  width: 100%;
  min-width: 1024px;
}

.teaser-introduction {
  float: right;
  position: absolute;
  right: 150px;
  top: 180px;
  text-align: center;
}

.sub-teaser-introduction {
  position: absolute;
  width: 1000px;
  margin-left: -500px;
  left: 50%;
  /* left: 25%; */
  /* right: 25%; */
  /* margin-left: auto; */
  top: 40px;
  text-align: center;

}

.teaser-title {
  font-family: Futura-Medium;;
  font-size: 54px;
  color: #F2F2F2;
  line-height: 72px;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
}

.teaser-subtitle {
  font-family: Futura-CondensedMedium;
  font-size: 16px;
  color: #F2F2F2;
  line-height: 20px;
}

.dark-gray {
  color: #4A4A4A;
}

.teaser-button {
  border-radius: 8px;
  background: #FF6666;
  -moz-box-shadow: 0px 4px 4px 0px #050505;
  box-shadow: 0px 2px 2px 0px #454545;
  font-family: Futura-CondensedMedium;
  text-decoration: none;
  font-size: 40px;
  color: #FFFFFF;
  padding: 20px 60px;
  line-height: 140px;
}

.search-area {
  padding: 10px;
}

.search-box {
  text-align: center;
  position: relative;
  bottom: 100px;
}

.search-input-box {
  width: 300px;
  height: 44px;
  border: 1px solid #a9a9a9;
  font-size: 16px;
  padding-left: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-submit-button {
  background: #26d6aa;
  height: 44px;
  border: none;
  font-size: 18px;
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.discover-headline{
  height: 50px;
}

.discover-headline h2{
  margin: 0px;
  text-align: center;
}

.discover-card {
  position: relative;
  height: 333px;
}

.discover-photo {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
}

.discover-title {
  width: 100%;
  height:100%;
  display: table;
  background-color: rgba(0,0,0,0.3);
}

.discover-title .title {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-size: 30px;
}

.thanks {
  font-family: Futura-CondensedMedium;
  font-size: 50px;
  color: #4A4A4A;
  width: 100%;
  height: 100%;
  padding-top: 200px;
  position: relative;
  text-align: center;
}

