ul:after {
clear: both;
content: "";
display: table;
}
li {
  float: left;
}

.map-search {
  top: 52px;
  position: relative;
}

.map-search:after {
  clear: both;
  content: "";
  display: table;
}

.fixed-top-banner{
  position: fixed;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid #DEDEDE;
}

.group-cards-container {
  top: 52px;
}

.group-card {
  height: 310px;

}

.group-card:hover {
  cursor: pointer;
  background-color: #DEDEDE;
}

.group-summary {
  padding-top: 26px;
  padding-bottom: 10px;
  position: relative;
}

.description-item{
  font-size: 18px;
  line-height: 16px;
}

.sub-content p {
  font-size: 14px;
  color: #888888;
  line-height: 14px;
}

.group-members {
  position: absolute;
  top: -28px;
}

.group-photo-container {
  position: relative;
  height: 200px
}

.user-head-image {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.user-head-image img {
  width: 40px;
  height: 40px;
}