ul:after {
clear: both;
content: "";
display: table;
}

.map-search {
  top: 52px;
  position: relative;
}

.map-search:after {
  clear: both;
  content: "";
  display: table;
}

.group-cards-container {
  top: 52px;
}

.group-card {
  height: 310px;

}

.group-card:hover {
  cursor: pointer;
  background-color: #DEDEDE;
}

.group-summary {
  padding-top: 26px;
  padding-bottom: 10px;
  position: relative;
}

.group-members{
  top: -28px;
}